body{
    margin: 0;
    background-color:rgb(105, 144, 105);
}
.column.side{
    width: 50%;
    float: left;
}
h1{
    font-size: 60px;
    text-align: left;
    margin-left: 100px;
    color: white;
}
p{
    text-align: justify;
    font-size: 35px;
    color: white;

}
img{ padding-top: 40px;

}
