body{
    background-color: rgb(13, 30, 13);


}
img{
    float: right;
}
h1{
    color: white;
    margin-left: 100px;
    font-size: 100px;
    margin-top: 0%;
}
P{
    color: white;
    margin-left: 100px;
    font-size: 40px;
    margin-top: -50px;
}
h2{
    color: white;
    margin-top: 40px;
    margin-left: 100px;
    margin-top: 200px;
    font-size: 150%;
}
h3{
    background-color: yellow;
    color: black;
    font-size: small;
    margin-left: 100px;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    width:280px ;
}

